<div class="container p-5" *ngIf="visibilityTable">
    <div class="border boder-light rounded p-5">
        <div>
            <button class="btn btn-sm btn-secondary" (click)="showForm()">
                Novo Filme
            </button>
        </div>

        <hr />

        <table class="table table-striped table-hover table-sm" *ngIf="movies">
            <thead>
                <tr class="thead-light">
                    <th>Título do Filme</th>
                    <th>Sinopese</th>
                    <th>Ano</th>
                    <th>Em Cartaz</th>
                    <th>Ações</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let movie of movies">
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ movie.movieName }}</td>
                    <td class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ movie.movieSynopsis.substring(0,100) }}</td>
                    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ movie.movieReleaseYear }}</td>
                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{ movie.movieCurrentlyInTheaters }}</td>
                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-sm btn-outline-info" (click)="showFormUpdate(movie.movieId)">Atualizar</button>|
                        <button type="button" class="btn btn-sm btn-outline-danger">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container p-5" *ngIf="visibilityForm" >
    <div class="row">
        <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="form" >
            <h6>{{ titleForm }}</h6>
            <hr />

            <form [formGroup]="form" (ngSubmit)="sendForm()" >
                <div class="form-group">
                    <label>Nome do Filme</label>
                    <input type="text" class="form-control form-control-sm" formControlName="movieName" />
                </div>

                <div class="form-group">
                    <label>Sinopse do Filme</label>
                    <textarea rows="7" class="form-control form-control-sm" formControlName="movieSynopsis"></textarea>
                </div>

                <div class="form-group">
                    <label>Ano de Lançamento</label>
                    <input type="number" class="form-control form-control-sm" formControlName="movieReleaseYear" />
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>Filme em Cartaz</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" formControlName="movieCurrentlyInTheaters" value="true" />
                        <label class="form-check-label">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" formControlName="movieCurrentlyInTheaters" value="false" />
                        <label class="form-check-label">Não</label>
                    </div>
                </div>

                <div class="container"> 
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>
                        <div class="pl-1">
                            <button type="button" class="btn btn-sm btn-light" (click)="hideForm()">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>